name: CI

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v4.0.1
        with:
          command: "earthly --version"
